.env
spark/credentials/gcp_service_account.json

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

.DS_Store
Thumbs.db
desktop.ini

*.log
logs/

kafka_data/
elasticsearch_data/

.idea/
.vscode/
*.swp
*.swo

/tmp
checkpoint/
*.checkpoint

build/
dist/
*.egg-info/